@import 'reset/variaveis.scss' , 'reset/mixins' , 'reset/reset';

.header{
  background-color: #FFF2E7;
  width: 100%;
  @include flex( row, nowrap,  space-evenly, center );
  border: 1px solid #000000;
  padding: 1rem;
}
.header .nav{
  @include flex( row, nowrap, space-between, center );
  gap: 20px;
  width: 90%;
}
.header .ul{
  @include flex( row , nowrap , space-around , center );
  gap: 20px;
}
.header .ul .li .a{
  cursor: pointer;
}
.header .-icons{
 border-left: 1px solid #000000;
 padding-left: 1rem;
}
.main {
  width: 100%;
  box-sizing: border-box;
}
.section {
  width: 100%;
  background-color: rgb(32, 74, 87);
  @include flex( row, nowrap,  space-between, center );
  margin-bottom: 10rem;
  .conteudo{
    width: 36.1875rem;
    background-color:red;
    gap: 50px;
  }
}
.section {
  width: 100%;
  background-color: rgb(0, 195, 255);
  @include flex( row, nowrap,  space-evenly, center );
  .text{
    width: 34.625rem;
    height: 21.5625rem;
    left: 29.75rem;
    top: 20.6875rem;
    background-color: rgb(195, 0, 255);
    padding: 0.1rem;
  }
}

.title{
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  color: #000000;
}
.btn{
  background-color: #000000;
  padding: 1em 2em;
  color: #FFF2E7;
  cursor: pointer;
  &:hover{
    border: 1px solid #ffffff;
  }
}